mat-card {
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.submit-button {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

input[type='file'] {
  visibility: hidden;
  margin-bottom: 1rem;
}

img {
  margin-bottom: 1rem;
  max-width: 450px;
  max-height: 350px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  /* border: 5px solid black; */
  display: block; /* remove extra space below image */
}
