:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
margin: auto;
}

img {
  margin-bottom: 1rem;
  max-width: 450px;
  max-height: 350px;
  /* border: 5px solid black; */
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  display: block; /* remove extra space below image */
}

mat-paginator{
  margin-top: 1rem;
}
